<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']"><h6><i class="icon-home"></i> 主页<span class="badge badge-info">NEW</span></h6> </a>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><h6><i class="icon-book-open"></i>小说</h6></a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/books/hot']"><h6><i class="icon-book-open"></i>推荐</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/books/rank']"><h6><i class="icon-book-open"></i>排行榜</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/books/history']"><h6><i class="icon-book-open"></i>记录</h6></a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><h6><i class="icon-picture"></i>图片</h6></a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/buttons']"><h6><i class="icon-picture"></i>推荐</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/images/image-type']"><h6><i class="icon-picture"></i>分类</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/cards']"><h6><i class="icon-picture"></i>记录</h6></a>
            </li>
          </ul>
        </li>
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><h6><i class="icon-note"></i>博客</h6></a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/buttons']"><h6><i class="icon-note"></i>推荐</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/social-buttons']"><h6><i class="icon-note"></i>排行榜</h6></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/components/cards']"><h6><i class="icon-note"></i>记录</h6></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <!-- <ol class="breadcrumb">
      <app-breadcrumbs></app-breadcrumbs>
    </ol> -->

    <div class="container-fluid">
      <router-outlet ></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<!-- <footer class="app-footer">
  <a href="http://39.108.63.38">Aferica</a> &copy; 2017 creativeLabs.
  <span class="float-right">Powered by <a href="http://39.108.63.38">Aferica</a></span>
</footer> -->
