
<!-- <div class="col-12" id="header">
  <img src="../../../assets/img/xianxia.jpg" width="100%"/>
</div> -->
<div class="card" *ngIf="bookInfo!=null">
    <header>
        <img src="../../../assets/img/xianxia.jpg" width="100%"/>
    </header>
    <div class="row">
    <div class="col-md-2 col-0">
        
    </div>
    <div class="col-md-8 col-12">
        <div class="row">
            <div class="col-md-2 col-4">
              <img src="{{imgApi}}{{staticImg}}{{bookInfo.cover}}" width="100%"/>
            </div>
            <div class="col-md-8 col-8">
              <br/>
              <h5><b>{{bookInfo.title}}</b></h5>
              <div>
                <a>{{bookInfo.author}}   著</a><br/>
              </div>
              <div>
                <a *ngFor="let tag of bookInfo.tags">
                    <a  href="#" (click)="false" 
                    *ngIf="tag!=''" class="badge badge-success badge-pill" style="color:white">{{tag}}</a>
                </a>
              </div>
              <div>
                <a>字数：{{bookInfo.wordCount}}</a>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;<a>追书人数：{{bookInfo.latelyFollower}}</a>
                &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;<a>好评率：{{bookInfo.retentionRatio}}%</a>
              </div>
              <div>
                <button type="button" class="btn btn-danger">开始阅读</button>
                <button type="button" class="btn btn-primary">加入书架</button>
                <button type="button" class="btn btn-info">投票支持</button>
              </div>
            </div>
            <div class="col-md-2 col-4">
                <a>我要打分：</a>
                <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
                (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                [titles]="['one','two','three']"></rating>
                <button type="button" class="btn btn-info">提交</button>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-0">
        
    </div>
  </div>
</div>
