<!-- <br/> -->
<div class="card ">
  <div class="row">
  <div class="col-md-2 col-0">

  </div>
  <div class="col-md-8 col-12">
    <br/>
    <div class="row">
      <div class="cates col-md-3 col-12">
          <br/>
        <div class="card ">
          <br/>
          <header><h4>男生</h4><hr/></header>
          
          <div class="row">
            <a *ngFor="let cate of allCategories.male" class="tags col-md-4 col-4">
               <a *ngIf="cate.major == majorCate" class="selecttags">{{cate.major}}</a>
               <a *ngIf="cate.major != majorCate" class="tags">{{cate.major}}</a> 
            </a>
          </div>
          <br/>
        </div>
        <div class="card ">
            <br/>
            <header><h4>女生</h4><hr/></header>
            
            <div class="row">
              <a *ngFor="let cate of allCategories.female" class="tags col-md-4 col-4">
                <!-- <div ><button type="button" class="btn btn-outline-primary">{{cate.major}}</button></div> -->
                 <a class="tags">{{cate.major}}</a> 
                  <!-- <button type="button" class="btn btn-outline-primary">{{cate.major}}</button> -->
              </a>
            </div>
            <br/>
          </div>
      </div>
      <div class="books col-md-9 col-12">
        <div class="sort card">
          <div class="row">
              <a class="col-md-2 col-3">热度排序</a>
              <a class="col-md-2 col-3">更新时间</a>
              <a class="col-md-2 col-3">评分排名</a>
              <a class="col-md-2 col-3">已经完结</a>
              <a class="col-md-4 col-12"><span class="pull-right">共<b style="color:red;">{{totalNumber}}</b>本相关作品</span></a>
          </div>
        </div>
        <br/>
        <div class="card books">
          <div class="list-group">
            <a *ngFor="let book of books"  class="list-group-item">
              <div class="row">
                <div class="col-md-3 col-4" (click)="viewBookInfo(book._id)">
                  <img class="cover" src="{{imgApi}}{{staticImg}}{{book.cover}}" width="90%"/>
                </div>
                <div class="col-md-9 col-8">
                  <div class="row">
                    <div class="col-12">
                      <h5><b (click)="viewBookInfo(book._id)">{{book.title}}</b></h5>
                    </div>
                    <div class="grey col-12 ">
                      <a><i class="icon-user"></i>{{book.author}}</a>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
                      <a>{{book.majorCate}}</a> · 
                      <a (mouseenter)="mouseenter($event)" (mouseleave)="mouseleave($event)">{{book.minorCate}}</a> <!--&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;-->
                      <!-- <a *ngIf=""></a> -->
                    </div>
                    <div class="shortIntro col-md-12 col-0">
                      <a (click)="viewBookInfo(book._id)">{{book.shortIntro}}</a>
                    </div>
                    <div class="grey col-md-12 col-0">
                        <a>追书人数：{{book.latelyFollower}}</a>&nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;<a>
                          留存率：{{book.retentionRatio}}%</a>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="pull-right">
          <ul class="pagination pagination-sm">
              <li *ngIf="currentPage == 1" class="page-item disabled">
                  <span class="page-link">首页</span>
              </li>
              <li *ngIf="currentPage != 1" (click)="changePage(1)" class="page-item ">
                <span class="page-link">首页</span>
              </li>
              <li *ngIf="currentPage == 1" class="page-item disabled">
                  <span class="page-link">上一页</span>
                </li>
              <li *ngIf="currentPage != 1" (click)="changePage(currentPage - 1)" class="page-item ">
                <span class="page-link">上一页</span>
              </li>
              <a *ngFor="let i of pageArray">
                  <li *ngIf="currentPage != i" (click)="changePage(i)" class="page-item"><a class="page-link" >{{i}}</a></li>
                  <li *ngIf="currentPage == i" class="page-item active"><a class="page-link" >{{i}}</a></li>
              </a>
              <li *ngIf="currentPage == pages" class="page-item disabled">
                <span class="page-link" >下一页</span>
              </li>
              <li *ngIf="currentPage != pages" class="page-item">
                <span class="page-link" (click)="changePage(currentPage + 1)">下一页</span>
              </li>
              <li *ngIf="currentPage == pages" class="page-item disabled">
                <span class="page-link" >末页</span>
              </li>
              <li *ngIf="currentPage != pages" class="page-item">
                <span class="page-link" (click)="changePage(pages)" >末页</span>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-0">

  </div>
  </div>
</div>
