
<div class="card row">
    <br/>
    <header>
      <h5>{{title}}</h5>
    </header>
    <div>
        <a *ngFor="let tag of tags">
            <a  href="#" (click)="findByTag(tag);false" 
            *ngIf="tag!=''" class="badge badge-primary badge-pill" style="color:white">{{tag}}</a>
        </a>
    </div>
    <div class="row">
        <div class="col-md-3 col-0">
            
        </div>
        <div class="col-md-6 col-12">
            <div class="list-group">
                <li *ngFor="let image of images;" class="list-group-item" style="text-align:center">
                    <img [lazyLoad]="image"/>
                </li>
            </div>
        </div>
        <div class="col-md-3 col-0">
            
        </div>
    </div>
    
</div>

