<div class="animated fadeIn">
  <div class="main row">
    <!-- <div style="width:100%; height:100%">
        <carousel>
            <slide>
              <img src="http://39.108.63.38:3000/api/getimg/byurl?url=http://img1.mm131.me/pic/3378/1.jpg" alt="First slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="http://39.108.63.38:3000/api/getimg/byurl?url=http://img1.mm131.me/pic/3378/1.jpg" alt="Second slide" style="display: block; width: 100%;">
            </slide>
            <slide>
              <img src="http://39.108.63.38:3000/api/getimg/byurl?url=http://img1.mm131.me/pic/3378/1.jpg" alt="Third slide" style="display: block; width: 100%;">
            </slide>
        </carousel>
    </div> -->
    <br/>
    <div class="col-md-4 col-xs-12  col-12 card">
      <br/>
      <header>
        <h5>小说排行榜100名<i class="icon-list pull-right" (click)="changeCollapse('book');false"></i></h5>
      </header>
      <br/>
      <div class="list-group" [collapse]="bookIsCollapsed">
        <a *ngFor="let book of hotThreeBook; let i = index;" class="list-group-item">
          <div class="row">
            <div class="col-md-4 col-4" (click)="viewBookInfo(book._id)">
                <img src="{{imgApi}}{{staticImg}}{{book.cover}}" width="72"/>
            </div>
            <div class="col-md-8 col-8">
                <h4 (click)="viewBookInfo(book._id)">
                    <span>{{book.title}}</span>
                </h4><br/>
                <p>
                    <a>{{book.author}}</a> 
                </p>
            </div>
          </div>
        </a>
        <li *ngFor="let book of books; let i = index;" class="list-group-item">
          <a (click)="viewBookCategory(book.majorCate,book.minorCate)"><span style="font-size:0.95em; color:#737374">[{{book.minorCate}}]</span></a>
            <a (click)="viewBookInfo(book._id)">{{book.title}}</a>
            <a (click)="viewAuthorInfo(book._id)"><span class="pull-right">{{book.author}}</span></a>
        </li>
      </div>
    </div>
    <div class="col-md-4 col-xs-12  col-12 card">
      <br/>
      <header>
        <h5>美图推荐<i class="icon-list pull-right" (click)="changeCollapse('image');false"></i></h5>
      </header>
      <br/>
      <div class="list-group"  [collapse]="imageIsCollapsed">
          <li *ngFor="let image of images; let i = index;" class="list-group-item">
              <a (click)="viewTheImage(image._id)">{{image.title}}</a>
          </li>
        </div>
      <br/>
    </div>
    <div class="col-md-4 col-xs-12 col-12 card">
      holle
    </div>
  </div>
</div>
